svg {
    width: 600px;
    height: 600px;
    flex-shrink: 0;
}

.xwd_cell rect {
    fill: white;
    stroke: #666;
    stroke-width: 1;
}

.xwd_cell--block rect {
    fill: black;
}

.number {
    font-size: 12px;
    dominant-baseline: hanging;
}

.letter {
    font-size: 24px;
    text-anchor: middle;
    dominant-baseline: middle;
}

.sidebar {
    flex: 1;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}